body {
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
* {
    font-family: '微软雅黑';
    font-size: 16px;
    color: #626262;
}

dl,dt,dd {
    display: block;
    margin: 0;
}

.left {
    padding-top: 120px;
    width: 160px;
    overflow: scroll;
    position: fixed;
    height: 100% !important;
    background-color: #3992d0;
}

.left dt {
    padding-right: 10px;
    color: #f5f5f5;
    font-size: 14px;
    position: relative;
    line-height: 48px;
}

.left dd {
    background-color: #317eb4;
}

.left dd img {
    width: 50px;
    height: 83px;
}

.left dt img {
    position: absolute;
    right: 10px;
    top: 20px;
}

.left dl dd:last-child {
    padding-bottom: 10px;
}